@import"_color.scss";

.topbar_setting{
  position: fixed;
  width: 100%;
  z-index: 10;
  
  margin: 0 ;
  padding: 0;

  .settings, .settings_dark{
  display: flex;
  justify-content: space-between;

  padding: 17px;
  
  color: $white;
  font-weight: bold;
}
.settings_dark{
    background-color: $default;
    color: $dark;
  }
}